@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Atualizado de .global para .container */
.container {
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 100vh; 
}

/* LADO ESQUERDO */
.div-left {
    flex: 2;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.div-left .div--logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: absolute; 
    top: 40px; 
    left: 120px; 
}

.div-left .div--logo img {
    max-width: 100px;
}

.slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 8px;
}

.slider-container .img--2 {
    width: 500px;
}

.slider-container .div--h1 {
    color: #49be8f;
    margin-bottom: 25px;
}

.dots-container {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active, .dot:hover {
    background-color: #49be8f;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4 } 
    to { opacity: 1 }
}

.slider-container .div--h2,
.slider-container .div--h3 {
    color: #49be8f;
    margin-top: 30px;
    margin-bottom: 30px;
}

.slider-container .text--1,
.slider-container .text--2,
.slider-container .text--3 {
    max-width: 700px;
    color: black;
    opacity: 0.7;
    font-weight: 400;
    font-size: 18px;
}

/* LADO DIREITO */
.div-right {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.box {
    margin-bottom: 150px;
}

.login-box .box .tittle-login {
    color: black;
    text-align: center;
}

.login-box .box .enter p {
    color: black;
}

.login-box .box .enter {
    margin-top: 20px;
}

.login-box .box .enter a {
    text-decoration: none;
    color: #49be8f;
}

/* Atualizado de .user e .password para .form-group */
.login-box .box .form-group input {
    border-radius: 5px;
    border: 1px solid gray;
    width: 330px;
    height: 45px;
    padding-left: 15px;
    color: black;
    transition: border 0.3s;
    margin-top: 15px;
}

.login-box .box .form-group input:focus {
    border: 2px solid #4CAF50; 
    outline: none;
}

.login-box .box .enter input {
    cursor: pointer;
    width: 330px;
    height: 45px;
    border-radius: 15px;
    color: black;
}

#submit-btn {
    background-color: #c9ccce; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: not-allowed; 
    transition: background-color 0.3s; 
    margin-top: 15px;
}

#submit-btn:enabled {
    background-color: #49be8f; 
    cursor: pointer; 
}

#submit-btn:hover:enabled {
    background-color: #39ac7d; 
}

.div-right .box--realease .release {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
