<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atendimentos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Atendimentos Registrados</h1>
        <ul>
        {% for atendimento in atendimentos %}
            <li>
                <p><strong>Código do Cliente:</strong> {{ atendimento.codigo_cliente }} 
                    <button onclick="copiarTexto('{{ atendimento.codigo_cliente }}')">Copiar</button>
                </p>
                <p><strong>Nome do Cliente:</strong> {{ atendimento.nome_cliente }} 
                    <button onclick="copiarTexto('{{ atendimento.nome_cliente }}')">Copiar</button>
                </p>
                <p><strong>Data:</strong> {{ atendimento.data }} 
                    <button onclick="copiarTexto('{{ atendimento.data }}')">Copiar</button>
                </p>
                <p><strong>Hora:</strong> {{ atendimento.hora }} 
                    <button onclick="copiarTexto('{{ atendimento.hora }}')">Copiar</button>
                </p>
                <p><strong>Protocolo:</strong> {{ atendimento.protocolo }} 
                    <button onclick="copiarTexto('{{ atendimento.protocolo }}')">Copiar</button>
                </p>
                <p><strong>Atendimento:</strong> {{ atendimento.atendimento }} 
                    <button onclick="copiarTexto('{{ atendimento.atendimento }}')">Copiar</button>
                </p>
                <p><strong>Natureza:</strong> {{ atendimento.natureza }} 
                    <button onclick="copiarTexto('{{ atendimento.natureza }}')">Copiar</button>
                </p>
                <p><strong>Tempo de Atendimento:</strong> {{ atendimento.tempo_atendimento }} 
                    <button onclick="copiarTexto('{{ atendimento.tempo_atendimento }}')">Copiar</button>
                </p>
                <a href="/concluir/{{ atendimento.id }}">Concluir</a>
            </li>
        {% endfor %}
        </ul>
        <a href="/">Voltar</a>
    </div>

    <script>
        function copiarTexto(texto) {
            navigator.clipboard.writeText(texto);
        }
    </script>
</body>
</html>
