<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleslogin.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>Alessandro baiano</title>
</head>

<body>

    <section>

        <div class="container">

            <div class="div-left">
                <div class="slider-container">
                    <div class="slide fade">
                        <img src="/static/WhatsApp_Image_2024-09-27_at_12.24.23-removebg-preview.png"
                            alt="Imagem 1">
                        <h2 class="div--h1">Melhor site de registros de atendimento do brasil</h2>
                        <div class="text--1">Alessandro, o "baiano" do trabalho, sempre encontra maneiras de evitar
                            esforço,
                            deixando tarefas para depois e perdendo prazos. Isso às vezes frustra os colegas, mas sua
                            atitude relaxada traz risos ao ambiente. Mesmo assim, sua preguiça pode afetar o progresso
                            da
                            equipe!</div>
                    </div>
                    <div class="slide fade">
                        <img src="/static/rebaixado.png" alt="Imagem 2" class="img--2">
                        <h2 class="div--h2">Venha conhecer!</h2>
                        <div class="text--2">Alessandro Baiano, o tipo de amigo que todo mundo merece ter! Gente boa,
                            sempre de bom humor, e capaz de transformar qualquer dia comum em uma festa. Se fosse uma
                            marca, seria '100% autenticidade e camaradagem!</div>
                    </div>
                    <div class="slide fade">
                        <img src="/static/alessandro-serra.jpeg" alt="Imagem 3" class="img--3">
                        <h2 class="div--h3">Toda equipe alinhada</h2>
                        <div class="text--3">Nosso sistema de registro de atendimentos foi desenvolvido para otimizar a
                            gestão de interações com clientes, oferecendo praticidade e eficiência no acompanhamento de
                            cada atendimento. Com ele, você pode garantir que nenhum detalhe importante seja esquecido,
                            proporcionando um serviço de qualidade e personalizado.</div>
                    </div>
                </div>

                <div class="dots-container">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>

            </div>

            <div class="div-right">
                <div class="login-box">
                    <div class="box">
                        <h1 class="tittle-login">LOGIN</h1>
                        

                        <form action="/login" method="POST">
                            <div class="form-group">
                                <input type="text" id="username" name="username" placeholder="Usuário" required>
                            </div>

                            <div class="form-group">
                                <input type="password" id="password" name="password" placeholder="Senha" required>
                            </div>

                            <div class="enter">
                                <p>Ainda não tem uma conta? <a href="/cadastrar">Crie uma!</a></p>
                                <button type="submit" id="submit-btn">Entrar</button>
                            </div>
                        </form>

                    </div>

                </div>

                <div class="box--realease">
                    <div class="release">
                        <p>v1.0.0.1</p>
                    </div>

                    <div class="copyright">
                        <p>© 2024 Fernando Brito e Matheus Martins. Todos os direitos reservados.</p>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <script>
      // Função para habilitar ou desabilitar o botão de entrada
      function toggleSubmitButton() {
          console.log("Função chamada"); // Para verificar se a função é chamada
          const username = document.getElementById('username').value;
          const password = document.getElementById('password').value;
          const submitButton = document.getElementById('submit-btn');

          // Habilita o botão se ambos os campos estiverem preenchidos
          if (username.trim() !== '' && password.trim() !== '') {
              submitButton.disabled = false;
          } else {
              submitButton.disabled = true;
          }
      }

      // Adiciona event listeners para os campos de entrada
      document.getElementById('username').addEventListener('input', toggleSubmitButton);
      document.getElementById('password').addEventListener('input', toggleSubmitButton);
    </script>
    <script>
      let slideIndex = 1;
      showSlides(slideIndex);

      // Controle manual pelos botões (bolinhas)
      function currentSlide(n) {
          showSlides(slideIndex = n);
      }

      function showSlides(n) {
          let slides = document.getElementsByClassName("slide");
          let dots = document.getElementsByClassName("dot");

          if (n > slides.length) { slideIndex = 1 }    
          if (n < 1) { slideIndex = slides.length }

          for (let i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
          }

          for (let i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }

          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
      }
    </script>
    
        
</body>

</html>
